.dashboard-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6em;
}

.line {
    display: none;
}

.options {
    display: flex;
    margin-top: 0.6em;
    flex-direction: column;
    width: 100%;
    gap: 0.8em;
}

.option {
    transition: var(--transition);

    & .option-content-wrapper {
        display: flex;
        align-items: center;
        padding: 0 1.2em;
        height: 4em;
        border-radius: 0.2em;
        box-shadow: var(--main-box-shadow);
        background: var(--dashboard-option-background);
        gap: 0.8em;
        border: 3px solid var(--dashboard-option-border-color);
        transition: var(--transition);
        will-change: translate;
    }

    & .option-label {
        color: var(--dashboard-option-color);
        font-size: 0.9em;
        font-weight: 700;
        transition: var(--transition);
    }

    &:hover {
        & .option-content-wrapper {
            border-color: var(--nice-blue);
            box-shadow: var(--large-box-shadow);
            background: var(--dashboard-option-background-hover);
            translate: 0 -6px;
        }

        & .option-label {
            color: var(--dashboard-option-color-hover);
        }
    }

    &.board {
        & .option-content-wrapper {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .options {
        flex-direction: row;
        width: auto;
    }
}
