.conversion {
    padding: 0.7em;
    border-radius: 0.7em;
    background: var(--card-color);
    box-shadow: 0 4px 6px rgba(0 0 0 / 8%);
    border: 2px solid transparent;
    transition: all var(--transition-duration) var(--transition-ease);
    transform: scale(1);

    &:hover {
        border: 2px solid var(--border-color);
        box-shadow: 0 0 50px 40px var(--card-color);
        transform: scale(1.03);
    }
}

.main-heading {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    justify-content: space-between;

    .label {
        line-height: 1.2;
        align-self: center;
        color: var(--med-grey);
        flex: 1 1 auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    & .code {
        font-weight: 900;
        color: black;
    }

    & .main-rate {
        color: black;
    }
}

svg.arrow {
    width: 1.2em;
    height: fit-content;
    flex: 0 0 auto;
}

.sub-heading {
    font-weight: 600;
    margin-top: 0.4em;
    font-size: 0.8em;
    color: var(--med-grey);
}

.weekly-diff {
    display: flex;
    align-items: center;
    gap: 4px;
}

.direction {
}

.percent {
}

.chart {
    margin-top: 1.4em;
}

span.fade {
    color: var(--med-grey);
    font-weight: 400;
}
