:root {
    --min-gap: 10px;
    --max-gap: 90px;
    --dynamic-gap: clamp(var(--min-gap), calc(50px + 2vw), var(--max-gap));
}

.currency-profile {
    padding: 30px 30px 60vh;
    max-width: --var(desktop-breakpoint);
    margin: 0 auto;
}

.main-heading {
    line-height: 1;
    margin: 0;
}

.sub-heading {
    margin-top: 20px;
}

.conversions {
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: var(--dynamic-gap);
}

button.show-all {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

section.all-currencies {
    margin-top: 8em;
}

@media screen and (min-width: 1326px) {
    .currency-profile {
        padding: calc(30px + 4vw) calc(30px + 4vw) 60vh;
        max-width: 1600px;
    }

    button.show-all {
        margin-left: 0;
    }
}
