/* Default layout to mobile selector */
.wrapper {
    height: 100%;
    border-top: 2px solid var(--toggle-button-border-color);
    box-shadow: 0px 0px 80px 80px rgb(var(--main-background-rgb-vals));
    position: relative;

    &.loading {
        background: red;
    }
}

.list-container {
    position: absolute;
    bottom: 100cqh;
    overflow-y: auto;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.2);
    transition: height 100ms ease-out;
    height: 0;
    backdrop-filter: blur(18px) saturate(1.5);

    &.list-showing {
        height: calc(100svh - 100cqh);
    }
}

.search-wrapper {
    margin-bottom: 0.6em;
    background: var(--aside-background);
}

input.search {
    display: block;
    border: 0;
    font-size: 0.8em;
    height: 4em;
    width: 100%;
    color: var(--input-color);
    background: var(--aside-background);
    font-weight: 600;
    border: 2px solid var(--input-border-color);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-radius: 0;
    padding: 0 1.2em;
    transition: var(--transition);

    &:hover,
    &:focus {
        border-color: var(--ultramarine);
        padding-left: 0.8em;
        background: #fafafa;
        outline: none;

        &::placeholder {
            color: var(--ultramarine);
        }
    }

    &::placeholder {
        font-style: italic;
        color: var(--input-placeholder-color);
        transition: var(--transition);
    }
}

label {
    display: flex;
}

.currencies {
    padding-bottom: 1em;
}

.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3em;
    color: var(--aside-menu-item-color);
    min-height: 2.6em;
    font-size: 0.8em;
    padding: 0.6em 0.8em 0.6em 1.4em;
    line-height: 1.4;
    transition: var(--transition);

    & .badge.code {
        display: inline-block;
        padding: 0.1em 0.3em;
        font-size: 0.8em;
        background: var(--badge-background);
        border-radius: 0.2em;
        transition: var(--transition);
        font-weight: 800;
        color: var(--badge-color);
    }

    &:hover {
        background: var(--aside-menu-item-hover-background);
        color: var(--ultramarine);

        & .code {
            background: var(--ultramarine);
            color: white;
        }
    }

    &:focus {
        outline: none;
        color: var(--ultramarine);

        & .code {
            background: var(--ultramarine);
            color: white;
        }
    }

    &.selected {
        background: var(--ultramarine);
        color: white;
        font-weight: 800;

        & .code {
            background: var(--off-white);
            color: var(--ultramarine);
            font-weight: 900;
        }

        &:focus {
            & .code {
                background: white;
            }
        }
    }
}

header.logo-header {
    display: none;
}

button.toggle-list {
    height: 100%;
    width: 100%;
    display: block;
    background: var(--toggle-button-background);
    color: var(--toggle-button-color);
    border-radius: 0;
    text-align: left;
    padding: 0 0.8em 0 0.3em;
    font-size: 1.8em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    gap: 20px;
    transition: var(--transition);
    box-shadow: none;

    & svg.chevron {
        height: 1.2em;
        width: fit-content;

        & path {
            fill: var(--toggle-button-color);
            transition: var(--transition);
        }
    }

    &.list-showing {
        background: black;
        color: white;
    }

    &:hover {
        color: var(--ultramarine);
        text-shadow: none;

        & svg path {
            fill: var(--ultramarine);
        }
    }
}

.logo-selected-currency-wrapper {
    display: flex;
    align-items: center;

    & svg.logo {
        height: 2em;
        width: fit-content;
        margin-right: 0.2em;

        & path {
            fill: var(--toggle-button-color);
            transition: var(--transition);
        }
    }
}

/* In a tall container -- layout as list */
@container (min-height: 300px) {
    .wrapper {
        border-top: 0;
        background: var(--aside-background);
        position: relative;
        box-shadow: none;
    }

    button.toggle-list {
        display: none;
    }

    .search-wrapper {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 0.6em;
        margin-bottom: 0.8em;

        & input.search {
            padding: 0 0.8em;
        }
    }

    .list-container {
        position: initial;
        height: 100%;
        background: none;

        &.list-showing {
            height: 100%;
        }
    }

    header.logo-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5em 0 0.6em;
        background: var(--aside-background);

        & svg.logo {
            height: 3em;
            width: fit-content;
            margin-right: 0.3em;

            & path {
                fill: var(--verdigris);
            }
        }

        & .logo-name {
            font-size: 1.2em;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: var(--verdigris);

            background: linear-gradient(45deg, var(--verdigris) 18%, #c887b4 40%, #ff738b 80%, #ffda53);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
