.wrapper {
    height: 100%;

    &.loading {
        background: red;
    }
}

input[type='text'] {
    display: block;
    border: 0;
    height: 50px;
    width: 100%;
}

label {
    display: flex;
}
