.tooltip {
    background: #000;
    height: 24px;
    padding: 0 10px;
    border-radius: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 100ms ease-out;
}

.hidden {
    opacity: 0;
}
