.main {
    --heading-spacing: 30px;
    padding: 4rem 3rem 60vh;
    min-height: 100vh;
    max-width: 1024px;
    margin: auto;
}

section.logoSection {
    display: flex;
    justify-content: center;

    & .logo {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 60px;
        height: 60px;
        border-radius: 0.2rem;
        background: #e60355;
        box-shadow: 4px 4px 14px rgb(0 0 0 /14%);
        padding-bottom: 12px;
        padding-right: 10px;
        position: relative;
        overflow: hidden;

        & .logoBackground {
            mix-blend-mode: difference;
            opacity: 0.15;
        }

        & .logoSVG {
            overflow: visible;
            z-index: 1;

            & .logoSVGPath {
                filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 20%));
            }
        }
    }
}

section.headingsSection {
    margin: 50px auto 0;
    text-align: center;
    font-size: 26px;
    max-width: 386px;

    & .firstHeading {
        font-weight: 400;
    }

    & .secondHeading {
        font-style: italic;
        font-weight: 400;
        margin-top: 20px;
        background-image: linear-gradient(130deg, #cb9696, #255242);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bold {
        font-weight: 600;
    }
}

section.projectsSection {
    margin: 80px auto 0;

    & .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

.contact {
    font-size: 24px;
    margin-top: 140px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-style: normal;
    color: #3e3f57;

    border: 4px solid #d0bebd;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    text-decoration: underline;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 0%), 0px 0px 0px rgb(0 0 0 / 0%);
    text-shadow: 3px 3px 4px rgb(0 0 0 / 0%);
    font-weight: 600;

    transition: var(--transition);

    .emailIcon {
        width: 40px;
        height: 40px;
        filter: drop-shadow(3px 3px 4px rgb(0 0 0 / 00%));
        fill: var(--red);
        transition: var(--transition);
    }
}

.contact:hover {
    background: var(--red);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 5%), 20px 20px 50px rgb(0 0 0 / 20%);
    text-shadow: 3px 3px 4px rgb(0 0 0 / 20%);
    color: white;
    border-color: transparent;

    .emailIcon {
        filter: drop-shadow(3px 3px 4px rgb(0 0 0 / 20%));
        fill: white;
    }
}

section.contactSection {
    margin-top: 140px;
}

.sectionHeading {
    font-weight: 600;
    font-style: italic;
    color: #73645b;
    font-size: 16px;
    text-align: center;
    margin-bottom: var(--heading-spacing);
}

@media screen and (min-width: 768px) {
    .main {
        padding: 6rem 6rem 60vh;
    }

    section.projectsSection {
        & .projects {
            grid-template-columns: 1fr 1fr;
        }
    }

    .sectionHeading {
        text-align: left;
    }
}
