@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;600;700;800;900&family=Rampart+One&display=swap');

:root {
    --med-grey: #9b9bac;
    --dark-grey: #53535f;
    --ink: #213547;
    --warm-paper: rgb(245, 243, 240);
    --nice-blue: rgb(25, 113, 255);
    --dark-blue: rgb(77, 96, 106);
    --off-white: rgba(255 255 255 / 87%);
    --very-light-grey: #f1f1f1;
    --light-grey: #eeeeee;
    --japan-red-rgb-vals: 188 0 45;
    --japan-red: rgb(188, 0, 45);

    --bold-green-rgb-vals: 10 173 10;
    --bold-green: rgb(10, 173, 10);
    --correct-green: #91c691;
    --incorrect-red: #f0796d;

    --main-text-color: var(--ink);

    --main-background-rgb-vals: 241 238 235;
    --main-background: var(--warm-paper);

    --main-box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    --large-box-shadow: 10px 10px 20px rgb(32 57 70 / 16%);

    --main-heading-color: var(--japan-red);

    --question-background: rgb(255 255 255 / 50%);
    --question-color: var(--dark-blue);
    --question-border-color: white;
    --question-box-shadow: 10px 10px 20px rgb(32 57 70 / 16%);
    --button-play-sound-border-color: var(--dark-blue);
    --button-play-sound-background: rgb(255 255 255 / 50%);
    --button-play-sound-box-shadow: 6px 6px 10px rgb(0 0 0 / 6%);
    --button-play-sound-icon-fill: var(--dark-blue);
    --button-play-sound-border-color-hover: var(--nice-blue);
    --button-play-sound-background-hover: white;
    --button-play-sound-icon-fill-hover: var(--nice-blue);

    --choices-container-background: #dadcdd;
    --choices-container-box-shadow: 4px 4px 10px rgb(0 0 0 / 10%) inset;
    --choice-background: white;
    --choice-box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    --choice-label-color: white;
    --choice-label-color-hover: var(--nice-blue);
    --choice-border-color: transparent;
    --choice-hotkey-background: white;
    --choice-hotkey-background-hover: var(--nice-blue);
    --choice-hotkey-color: var(--dark-blue);
    --choice-hotkey-color-hover: white;
    --choice-hotkey-border-color: rgb(199, 207, 210);
    --choice-hotkey-box-shadow: 2px 2px 5px rgb(0 0 0 / 6%);
    --choice-hover-background: rgb(237, 237, 255);
    --choice-hover-gradient-middle: rgb(237, 248, 255);
    --choice-hover-gradient-outer: white;

    --dashboard-lesson-background-stop: white;
    --dashboard-lesson-label-color: var(--dark-blue);
    --dashboard-option-line-background: rgb(131 131 182 / 10%);
    --dashboard-option-color: var(--dark-blue);
    --dashboard-option-color-hover: var(--nice-blue);
    --dashboard-option-background: white;
    --dashboard-option-background-hover: white;
    --dashboard-option-border-color: transparent;

    --card-color: white;
    --card-heading-color: black;
    --card-heading-faded-color: var(--med-grey);

    --header-height: 100px;
    --header-background: rgb(255 255 255 / 65%);
    --badge-background: var(--very-light-grey);
    --badge-color: var(--ink);
    --tooltip-background: black;
    --tooltip-color: white;
    --section-heading-color: var(--ink);

    --white-overlay-20: rgb(255 255 255 / 20%);

    --button-color: var(--ink);
    --button-border-color: var(--dark-blue);
    --button-box-shadow-color: rgb(204 0 0 / 16%);
    --button-background: var(--white-overlay-20);
    --button-hover-background: var(--nice-blue);
    --button-hover-color: white;

    --input-color: black;
    --input-background: white;
    --input-border-color: black;
    --input-placeholder-color: var(--dark-grey);

    --border-color: var(--warm-stone-overlay);
    --transition-duration: 160ms;
    --transition-duration-slow: 400ms;
    --transition-ease: ease-out;
    --transition: all var(--transition-duration) var(--transition-ease);
    --transition-slow: all var(--transition-duration-slow) ease-in;

    --font-family-sans: 'Noto Sans JP', Inter, system-ui, Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family-sans-fun: 'Rampart One', Inter, system-ui, Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --gradient-x: 0;
    --gradient-y: 0;

    font-family: var(--font-family-sans);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--main-text-color);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    line-height: 1.4;
    font-family: var(--font-family-sans);
    background: var(--main-background);
    min-height: 100vh;
}

h1 {
    font-size: 3.6em;
}

h3 {
    font-size: 1.2em;
}

.sans {
    font-family: var(--font-family-sans);
}

.mono {
    font-family: var(--font-family-mono);
}

.serif {
    font-family: var(--font-family-serif);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border-radius: 0.3em;
    height: 5em;
    padding: 0 1.4em;
    font-size: 0.8em;
    font-family: inherit;
    background: var(--button-background);
    color: var(--button-color);
    transition: var(--transition);
    border: 2px solid var(--button-border-color);

    &:hover {
        background-color: var(--button-hover-background);
        color: var(--button-hover-color);
        border-color: transparent;
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.14);
        box-shadow: 0px 4px 14px rgb(0 0 0 / 20%);
        cursor: pointer;

        & svg {
            fill: var(--button-hover-color);
        }
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: var(--off-white);

        --card-color: #262729;
        --card-heading-color: white;

        --question-background: #141518;
        --question-color: #eeeeee;
        --question-border-color: #38393e;
        --question-box-shadow: 10px 10px 20px rgb(0 0 20 / 20%);
        --button-play-sound-border-color: #38393e;
        --button-play-sound-background: #141518;
        --button-play-sound-box-shadow: 6px 6px 10px rgb(0 0 0 / 20%);
        --button-play-sound-icon-fill: #eeeeee;
        --button-play-sound-border-color-hover: var(--nice-blue);
        --button-play-sound-background-hover: var(--nice-blue);
        --button-play-sound-icon-fill-hover: white;

        --choices-container-background: #141519;
        --choices-container-box-shadow: 4px 4px 10px rgb(0 0 0 / 60%) inset;
        --choice-background: #38393f;
        --choice-box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
        --choice-label-color: white;
        --choice-label-color-hover: white;
        --choice-border-color: transparent;
        --choice-hotkey-background: #141519;
        --choice-hotkey-background-hover: white;
        --choice-hotkey-color: rgb(111 124 130);
        --choice-hotkey-color-hover: var(--nice-blue);
        --choice-hotkey-border-color: rgb(0 0 0);
        --choice-hotkey-box-shadow: 4px 4px 6px rgb(0 0 0 / 20%);
        --choice-hover-background: var(--nice-blue);
        --choice-hover-gradient-middle: rgb(0, 98, 255);
        --choice-hover-gradient-outer: var(--nice-blue);

        --badge-background: var(--off-white);
        --tooltip-background: white;
        --tooltip-color: var(--ink);
        --section-heading-color: var(--off-white);

        --button-color: rgb(125, 177, 255);
        --button-border-color: var(--button-color);
        --button-background: rgb(255 255 255 / 1%);
        --button-hover-background: rgb(11 98 228);
        --button-hover-color: white;

        --main-box-shadow: 0 10px 20px 4px rgb(0 0 0 / 20%);
        --large-box-shadow: 10px 10px 20px rgb(0 0 0 / 40%);

        --toggle-button-background: var(--main-background);
        --toggle-button-color: var(--off-white);
        --toggle-button-border-color: var(--dark-grey);

        --main-background-rgb-vals: 30 30 32;
        --main-background: rgb(var(--main-background-rgb-vals));
        --header-background: rgb(var(--main-background-rgb-vals) / 65%);

        --dashboard-lesson-background-stop: #111218;
        --dashboard-lesson-label-color: rgb(170 180 186);
        --dashboard-option-line-background: rgb(131 131 182 / 10%);
        --dashboard-option-color: rgb(255 255 255 / 80%);
        --dashboard-option-color-hover: white;
        --dashboard-option-background: #131318;
        --dashboard-option-background-hover: radial-gradient(#131318, #27273a);
        --dashboard-option-border-color: #000000;
    }
    a:hover {
        color: #747bff;
    }
}
