.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--choice-background);
    height: 3em;
    font-size: 2em;
    border-radius: 0.2em;
    box-shadow: var(--choice-box-shadow);
    font-weight: 800;
    position: relative;
    transition: var(--transition);
    border: 0.1em solid var(--choice-border-color);
    overflow: hidden;
    text-transform: uppercase;
    color: var(--choice-color);

    &:hover {
        background: rgb(237, 237, 255);
        background: var(--choice-hover-background);
        color: var(--choice-label-color-hover);
        border: 0.1em solid var(--nice-blue);
        cursor: pointer;
        scale: 1.05;
        box-shadow: 6px 6px 16px rgb(0 0 0 / 20%);

        & .hover-gradient {
            opacity: 1;
        }

        & .hotkey {
            background: var(--choice-hotkey-background-hover);
            border-color: transparent;
            color: var(--choice-hotkey-color-hover);
        }
    }

    &:focus {
        /*TODO: Remove focus on click */
        /* outline: none; */
    }

    & .hover-gradient {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(
            circle at var(--gradient-x) var(--gradient-y),
            var(--choice-hover-gradient-middle),
            var(--choice-hover-gradient-outer)
        );
        opacity: 0;
        transition: var(--transition);
        z-index: -1;
    }

    & .label {
        padding-bottom: 2px;
    }

    & .hotkey {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        font-size: 0.35em;
        background: var(--choice-hotkey-background);
        border: 1px solid var(--choice-hotkey-border-color);
        box-shadow: var(--choice-hotkey-box-shadow);
        height: 1.8em;
        width: 1.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.2em;
        font-weight: 800;
        color: var(--choice-hotkey-color);
        transition: var(--transition);
    }
}
