.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 3em;
    font-size: 2em;
    border-radius: 0.2em;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    font-weight: 800;
    position: relative;
    transition: var(--transition);
    border: 0.1em solid transparent;
    overflow: hidden;
    text-transform: uppercase;
    color: var(--dark-blue);

    &:hover {
        background: rgb(237, 237, 255);
        color: var(--nice-blue);
        border: 0.1em solid var(--nice-blue);
        cursor: pointer;
        scale: 1.05;
        box-shadow: 6px 6px 16px rgb(0 0 0 / 20%);

        & .hover-gradient {
            opacity: 1;
        }

        & .hotkey {
            background: var(--nice-blue);
            border-color: transparent;
            color: white;
        }
    }

    &:focus {
        /*TODO: Remove focus on click */
        /* outline: none; */
    }

    & .hover-gradient {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at var(--gradient-x) var(--gradient-y), rgb(237, 248, 255), white);
        opacity: 0;
        transition: var(--transition);
        z-index: -1;
    }

    & .label {
    }

    & .hotkey {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        font-size: 0.35em;
        background: white;
        border: 1px solid rgb(199, 207, 210);
        box-shadow: 2px 2px 5px rgb(0 0 0 / 6%);
        height: 1.8em;
        width: 1.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.2em;
        font-weight: 800;
        color: var(--dark-blue);
        transition: var(--transition);
    }
}
