.progress {
    display: flex;
    height: 1.8em;
    gap: 0.6em;

    & .completion-label,
    & .segments,
    & button.end-lesson {
        display: flex;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: var(--large-box-shadow);
        border-radius: 0.4em;
        border-radius: 6px;
        overflow: hidden;
    }

    & .completion-label {
        justify-content: center;
        align-items: center;
        font-size: 1em;
        padding: 0 0.4em;
        font-weight: 900;
        color: var(--dark-blue);
    }

    & .segments {
        flex: 1 1 auto;
        gap: 0.2em;
        padding: 0.2em;
    }

    & .segment {
        background: #dadcdd;
        flex: 1 1 auto;
        transition: var(--transition);

        --segment-border-radius: 0.14em;

        &:first-of-type {
            border-top-left-radius: var(--segment-border-radius);
            border-bottom-left-radius: var(--segment-border-radius);
        }

        &:last-of-type {
            border-top-right-radius: var(--segment-border-radius);
            border-bottom-right-radius: var(--segment-border-radius);
        }

        &.correct {
            background: var(--correct-green);
        }

        &.incorrect {
            background: var(--incorrect-red);
        }
    }
}

button.end-lesson {
    height: 100%;
    border: 0;
    padding: 0 1em;
    border-radius: 0.4em;
    font-size: 0.6em;
    letter-spacing: 0.05em;
}

.fade {
    color: var(--med-grey);
    font-weight: 400;
    font-style: italic;
    margin: 0 0.2em;
}
