.question-page-container {
    background: rgb(245, 243, 240);
    display: flex;
    flex-direction: column;
    padding: 10em 30px 40vh;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.question-wrapper {
    position: relative;
    margin-bottom: calc(2em + 6vh);
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

.question {
    font-size: 6em;
    color: var(--dark-blue);
    border-radius: 0.2em;
    background: rgb(255 255 255 / 50%);
    height: 100%;
    padding: 0 0.25em 0.15em;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 20px rgb(32 57 70 / 16%);
}

button.play-sound {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 0;
    border: 2px solid var(--dark-blue);
    background: rgb(255 255 255 / 50%);
    box-shadow: 6px 6px 10px rgb(0 0 0 / 6%);
    top: 50%;
    right: 0;
    transform: translate(150%, -50%);

    & svg {
        fill: var(--dark-blue);
    }

    &:hover {
        border-color: var(--nice-blue);
        background: white;

        & svg {
            fill: var(--nice-blue);
        }
    }
}

.question-form {
    position: relative;

    & input.user-answer {
        height: 3em;
        padding: 0 2.6em 0.1em 0.6em;
        border: 3px solid white;
        font-size: 1.4em;
        border-radius: 0.2em;
        box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
        background: rgb(255 255 255 / 50%);
        color: var(--dark-blue);
        transition: var(--transition);
        width: 400px;

        &:focus {
            box-shadow: 10px 10px 20px rgb(32 57 70 / 16%);
            outline: 0;
        }
    }

    & button[type='submit'] {
        position: absolute;
        right: 1em;
        top: 50%;
        translate: 0 -50%;
        border: none;
        color: var(--dark-blue);
        align-self: end;
        background: #e3e7e9;
        height: 3em;
        aspect-ratio: 1 / 1;
        border-radius: 0.4em;
        padding: 0;

        & svg {
            fill: var(--dark-blue);
            margin-left: 3px;
            width: 24px;
            height: fit-content;
            aspect-ratio: 1 / 1;
            transition: var(--transition);
        }

        &:hover {
            color: white;
            background: var(--nice-blue);
            box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);

            & svg {
                fill: white;
            }
        }
    }
}

.choices {
    background: #ccc;
    background: #d1ccc4;
    background: #dadcdd;
    border-radius: 1em;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%) inset;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
    gap: 1em;
    padding: 1em;
}
