.selector {
    height: 100px;
    grid-row: 2;
    grid-column: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    container-type: size;
}

/* Media query for wider screens */
@media (min-width: 1360px) {
    main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'selector content';
        height: 100vh;
    }

    .selector {
        grid-area: selector;
        position: initial;
        width: 320px;
        height: 100%;
    }

    .content {
        grid-area: content;
        max-height: 100vh;
        overflow-y: auto;
    }
}
