@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

button.music-button {
    position: fixed;
    z-index: 1000;
    right: 2em;
    bottom: 2em;
    background: transparent;
    border: none;
    padding: 0.4em 0.4em 0.4em 0.8em;
    height: auto;
    display: flex;
    align-items: center;
    gap: 0.6em;

    &:hover {
        background: white;

        & .mute-icon-wrapper {
            & .muted-icon,
            & .unmuted-icon {
                fill: var(--nice-blue);
            }
        }
    }

    & .turntable-icon-wrapper {
        display: flex;
        align-items: center;

        & .turntable-icon {
            width: 3em;
            height: fit-content;
            overflow: visible;

            .turntable {
                fill: #c4c4c4;
                filter: drop-shadow(0 1px 0 rgb(0 0 0 / 40%)) drop-shadow(2px 3px 2px rgb(0 0 0 / 20%));
            }

            .vinyl {
                transform-origin: center center;
                animation: rotate 10s linear infinite;
            }
        }
    }
}

.mute-icon-wrapper {
    display: flex;
    align-items: center;

    & .muted-icon {
        width: 32px;
        height: 32px;
        fill: var(--med-grey);
    }

    & .unmuted-icon {
        width: 32px;
        height: 32px;
        fill: var(--dark-grey);
    }
}
